{% extends "layout.html" %}
{% block head %}
    <script src="{{url_for('static', filename='control.js')}}"></script>
    <title>Garage Door Control</title>    
{% endblock %}

{% block content %}
    <h1>Garage Door Control </h1>
    <button class="btn btn-outline-dark" onclick="doorControl('check');">Check Garage Door Status</button><br><br>
    <button class="btn btn-outline-dark" onclick="doorControl('toggle');">Toggle Garage Door</button><br><br>
    <button class="btn btn-outline-dark" onclick="doorControl('open');">Open Garage Door</button><br><br>
    <button class="btn btn-outline-dark" onclick="doorControl('close');">Close Garage Door</button><br><br>
    <div id="alertplaceholder"></div>
{% endblock %}
